<form action="/admin/user/add/" id="editFormId" method="post" autocomplete="off">
    <ul>
        用户名：<aside><input type="text" name="username" class="tbox30 tbox30-6"/></aside></li>
        密码：<aside><input type="password" name="password" class="tbox30 tbox30-6"/></aside></li>
        年龄：<aside><input name="age" maxlength="11" class="tbox30 tbox30-6" type="text"></aside></li>
        地址：<aside><input name="address" class="tbox30 tbox30-6" type="text" ></aside></li>
    <input type="hidden" name="isPost" value='1'>
        <aside><input class="btn-2" type="submit" value="提交"></aside>

    </ul>
</form>
